*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
	/*background: #1482FF;*/
    background: url(../images/bcg.jpg);
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #ff5e5c; }

body input:required:valid,
body textarea:required:valid {
  color: #00ff00; }



html, body, .vs-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.no-touch .vs-container {
	overflow-x: hidden;
}

.vs-header {
	z-index: 200;
	margin: 0 auto;
	padding: 2% 2% 0% 2%;
	width: 80%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.vs-container > header h1 {
	margin: 0 auto;
	padding: 0 0 0.8em;
	font-weight: 300;
	font-size: 2.4em;
	line-height: 1.4;
	-webkit-backface-visibility: hidden;
    letter-spacing: 5px;
}

.vs-container > header span {
	display: block;
	margin-top: 1%;
    margin-bottom: 1.5%;
	font-size: 0.4em;
	font-weight: 400;
	color: #FEFEFF;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.vs-nav {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.vs-triplelayout .vs-nav {
	width: 33.33%;
	height: 80px;
}

.vs-nav li {
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
}

.vs-triplelayout .vs-nav li {
	position: absolute;
	visibility: hidden;
	width: 100%;
}

.vs-nav li a {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
	outline: none;
	border-top: 2px solid #92CAFB;
	border-bottom: 2px solid #92CAFB;
	color: #92CAFB;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 1.5em;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
}

.vs-nav li a:hover,
.vs-nav li a:focus,
.vs-triplelayout .vs-nav .vs-nav-current a,
.vs-container.vs-move-left .vs-nav-right a,
.vs-container.vs-move-right .vs-nav-left a {
	border-color: #FEFEFF;
	color: #FEFEFF;
}

.vs-container.vs-move-left .vs-nav-current a,
.vs-container.vs-move-right .vs-nav-current a {
	border-color: #92CAFB;
	color: #92CAFB;
}

.vs-triplelayout .vs-nav .vs-nav-left,
.vs-triplelayout .vs-nav .vs-nav-right,
.vs-triplelayout .vs-nav .vs-nav-left-outer,
.vs-triplelayout .vs-nav .vs-nav-right-outer,
.vs-triplelayout .vs-nav .vs-nav-current {
	visibility: visible;
}

.vs-triplelayout .vs-nav .vs-nav-current {
	left: 0%;
}

.vs-triplelayout .vs-nav .vs-nav-left {
	left: -100%;
}

.vs-triplelayout .vs-nav .vs-nav-right {
	left: 100%;
}

.vs-triplelayout .vs-nav .vs-nav-right-outer {
	left: 200%;
}

.vs-triplelayout .vs-nav .vs-nav-left-outer {
	left: -200%;
}

.vs-container.vs-move-left .vs-nav-left,
.vs-container.vs-move-left .vs-nav-left-outer,
.vs-container.vs-move-left .vs-nav-current,
.vs-container.vs-move-left .vs-nav-right,
.vs-container.vs-move-left .vs-nav-right-outer {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.vs-container.vs-move-right .vs-nav-left,
.vs-container.vs-move-right .vs-nav-left-outer,
.vs-container.vs-move-right .vs-nav-current,
.vs-container.vs-move-right .vs-nav-right,
.vs-container.vs-move-right .vs-nav-right-outer {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);	
}

.vs-container.vs-move-left .vs-nav-left,
.vs-container.vs-move-right .vs-nav-right {
	opacity: 0;
}

.vs-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}

.vs-wrapper > section {
	z-index: 1;
	min-height: 100%;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

#section-1 { background-image: url(../images/img1.png); }
#section-2 { background-image: url(../images/img2.png); }
#section-3 { background-image: url(../images/img3.png); }
#section-4 { background-image: url(../images/img4.png); }

.vs-triplelayout .vs-wrapper > section {
	position: absolute;
	top: 0;
	left: 10%;
	visibility: hidden;
	padding: 0 0 100px;
	width: 80%;
	-webkit-backface-visibility: hidden;
}

.vs-triplelayout .vs-wrapper > section:not(.vs-current) {
	overflow: hidden;
	height: 100%;
}

.vs-triplelayout .vs-wrapper .vs-left,
.vs-triplelayout .vs-wrapper .vs-left-outer,
.vs-triplelayout .vs-wrapper .vs-current,
.vs-triplelayout .vs-wrapper .vs-right,
.vs-triplelayout .vs-wrapper .vs-right-outer {
	visibility: visible;
}

.vs-triplelayout .vs-wrapper .vs-left {
	left: -70%; /* 80 - 10 */
}

.vs-triplelayout .vs-wrapper .vs-left-outer {
	left: -150%; /* - 70 - 80 */
}

.vs-triplelayout .vs-wrapper .vs-current {
	position: relative;
	z-index: 100;
}

.vs-triplelayout .vs-wrapper .vs-right {
	left: 90%; /* 80 + 10 */
}

.vs-triplelayout .vs-wrapper .vs-right-outer {
	left: 170%; /* 90 + 80 */
}

.vs-container.vs-move-left .vs-left,
.vs-container.vs-move-left .vs-current,
.vs-container.vs-move-left .vs-right,
.vs-container.vs-move-left .vs-right-outer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.vs-container.vs-move-right .vs-left,
.vs-container.vs-move-right .vs-left-outer,
.vs-container.vs-move-right .vs-current,
.vs-container.vs-move-right .vs-right {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.vs-sidenav div {
	position: fixed;
	top: 0;
	z-index: 500;
	width: 10%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.vs-sidenav div:hover {
	background: rgba(0,0,0,0.2);
}

.vs-sidenav .vs-sidenav-left {
	left: 0px;
}

.vs-sidenav .vs-sidenav-right {
	right: 0px;
}

/* inner content */
.vs-content {
	position: relative;
	margin: 0 auto;
	padding: 1em 0;
	width: 95%;
	text-align: center;
	font-size: 1.5em;    
}

.vs-content h2 {
	position: relative;
	margin: 0 auto;
	color: #FEFEFF;
	font-weight: 400;
	font-size: 1.3em;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: "RalewayLight";
}

.vs-content span
{
    position: relative;
    text-align: center;
    font-size: 0.65em;
    margin: 2% auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

#section-1 .vs-content .col
{
    -webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
    text-align: left;
}

#section-2 h2,
#section-3 h2,
#section-4 h2
{
  margin-bottom: 1%;
}

#section-2 h3,
#section-3 h3,
#section-4 h3
{
    margin-bottom: 1%;
    color: #FEFEFF ;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
	font-size: 1.3em;
}

#section-2 p
{
    margin: 2% auto;        
}

#section-4 h3
{
    letter-spacing: 5px;
    font-weight: 300;
	font-size: 1.2em;
}

#section-4 ul
{
    list-style: none;
    text-align: left;
    color: #94c9ff;
}

#section-4 .col span
{
    font-size: 1.2em;
    margin: auto 10px;
    color: #fff;
}

#about 
{
  text-align: center;
  margin: 10% auto;
  margin-bottom: 2%;
}

.vs-content .col {
	margin: 40px auto;
	color: #e8e8e8;
	text-align: center;
	line-height: 1.4;
	-webkit-column-width: 30%;
	-moz-column-width: 30%;
	column-width: 30%;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 1%;
	-moz-column-gap: 1%;
	column-gap: 1%;
}

.col span
{
    font-size: 3em;
    margin: 0 auto;
    color: #01E9FF;
    font-weight: 300;
    letter-spacing: 3px;
}

.col h4 
{
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #01C7FF;
    font-weight: 600;
}

.col p
{
    margin: 0 auto;
}

.vs-content p {
	margin: 0 auto;
	color:#C6E2FE;
    letter-spacing: 2px;
    font-weight: 300;
}

.main_form
{
    text-align: center;
}

.form-group
{
    display: block;
    margin: 0px 20px;
    margin-bottom: 20px;
}

.form-group span
{
    margin-right: 4px; 
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

form input
{
    width: 40%;
    line-height: 25px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    font-size: 1em;
    line-height: 34px;           
    letter-spacing: 3px;
    font-weight: 300;
}

form button
{
      display: inline-block;
      padding: 10px 30px;
      color: #FEFEFF ;
      border: solid 1px #FEFEFF;
      text-transform: uppercase;
      letter-spacing: 3px;
      -webkit-font-smoothing: antialiased;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      transition: all 0.5s;
      text-decoration: none;
      background: 0 0;
      font-size: 1em;
      font-weight: 300;
}

form button:hover, form button:focus
{
    color: #3dc9b3; 
    text-decoration: none;
    border: solid 1px #3dc9b3;
}

.main_form .error input
{
    border: 1px solid #b94a48;
    border-radius: 1px;
    box-shadow: 1px 0px 5px #b94a48;
    color: #b94a48;
    
}

/* Media queries */
@media screen and (max-width: 72.875em) {

	.vs-header,
	.vs-wrapper {
		font-size: 80%;
	}

	.vs-content {
		width: 85%;
	}

	.vs-content h2 {
		font-size: 1.8em;
	}

	.vs-nav li a {
		width: 160px;
	}

	.vs-content .col {
		-webkit-column-width: 50%;
		-moz-column-width: 50%;
		column-width: 50%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
    
    form input
    {
        width: 50%;
    }
}

@media screen and (max-width: 45.25em) {

	.vs-container > header h1 {
		margin-bottom: 0;
	}

	.vs-content h2 {
		margin: 0 0 1em;
        font-size: 1.2em;
	}
  
	.vs-wrapper {
		font-size: 80%;
	}

	.vs-triplelayout .vs-nav li a {
		width: auto;
		font-size: 70%;
	}

	.vs-wrapper > section {
		background-position: 0 28em;
		background-size: 100%;
	}

	.vs-content .col {
		-webkit-column-width: auto;
		-moz-column-width: auto;
		column-width: auto;
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
	}
    
    form input
    {
        width: 80%;
    }
}



