body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

/*Video*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;    
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;    
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    opacity: 0.7;
}
.video-container video.fillWidth {
    width: 100%;
}


/* Small screens (default) */

#navbar .navbar-brand {
  font-size: 140%; 
  font-family: "Raleway";  
}

#navbar .btn {
  font-size: 100%;
  font-family: "Raleway";  
}

.video-container .content-container {
  z-index: 1000;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;  
}

.video-container .content-container h2 {
  font-family: "Raleway";  
  font-size: 120%;
  text-transform: uppercase;
  animation-delay: 1.1s;
}

.content-container .buttons {
  margin-top: 20%;  
  text-align: center;
  animation-delay: 1.1s;
}

.content-container .btn-success {
  width: 50%; 
}

.content-container .btn-default {
  width: 40%;
}

.content-container .btn {
  margin: 2% 1%;
  font-size: 100%;
}

section .title {
  margin-top: 15%;
  text-align: center;  
}

section .title h1,
section .title h2 {
  font-family: "Raleway";  
}

section .title h1 {
  font-size: 200%;
}

section .title h2 {
  font-size: 150%;
  margin-bottom: 15%;
}

.flags {
  text-align: center;
}

.flag-icon {
  font-size: 500%;
  border-radius: 0%;
  margin: 3%;
}

.study {
  text-align: center;
}

.study button {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 80%;
  text-transform: uppercase;
}

.section-2 {
  background-color: #19B5FE;
  text-align: center;
  color: #fff;
}

.section-2 i {
  font-size: 500%;
  color: #6C7A89;
}

.section-2 p {
  margin-top: 5%;
  margin-bottom: 15%;
  font-family: "Raleway";
  font-weight: 600;
}

.section-2 h1,
.section-3 h1 {
  padding-top: 10%;
  font-size: 200%;
}

.section-2 .container {
  margin-top: 10%;
  padding-bottom: 5%;
}

.section-3 {
  text-align: center;
}

.section-3 .container {
  text-align: center;
}

.section-3 button {
  width: 100%;
  margin-bottom: 20%;
  text-transform: uppercase;
  font-weight: 600;
}

.section-3 .input-group {
  margin: 5% auto;
}

.input-group span {
  background-color: #87D37C; 
}

.section-3 i
{
    color: #fff;
}

footer {    
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333;
}


footer p {
  font-size: 80%;
  padding: 2%;
  display: block;
  background: #333;
  color: #fff;
  font-family: "Relawey";
}

form .error input{
  color: #FF3B30;
  border-color: #FF3B30;
}

.navbar ul a {
  padding: 0;
  margin: 0;
}

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
  
.content-container .btn-success {
  width: 25%; 
}

.content-container .btn-default {
  width: 15%;
} 
  
section .title {
  margin-top: 5%; 
}
  
section .title h1 {
  font-size: 300%;
}

section .title h2 {
  font-size: 250%;
  margin-top: 3%;
   margin-bottom: 5%;
}
  
.study button {
  margin-top: 7%;
  width: 40%;
  font-size: 110%;  
}
  
.section-2 i {
  font-size: 550%;
}

.section-2 p {
  font-size: 130%;
}

.section-2 h1,
.section-3 h1 {
  padding-top: 4%;
  font-size: 300%;
}

.section-2 .container {
  margin-top: 5%;
  padding-bottom: 1%;
}
  
.section-3 button {
  width: 50%;
  margin-bottom: 8%;
}

.section-3 .input-group {
  margin: 2% auto;
  width: 50%;
}
  
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
  
  #navbar .navbar-brand {
   font-size: 220%; 
}

#navbar .btn {
  font-size: 120%;
}
  
.video-container .content-container h2 {
  font-size: 220%;
}

.content-container .buttons {
  margin-top: 15%;    
}
  
.content-container .btn-success {
  width: 30%; 
}

.content-container .btn-default {
  width: 20%;
}  
  
section .title {
  margin-top: 5%; 
}
section .title h1 {
  font-size: 400%;
}

section .title h2 {
  font-size: 300%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.flag-icon {
  font-size: 700%;
}
  
.study button {
  margin-top: 6%;
  width: 30%;
  font-size: 130%;  
}
  
.section-2 i {
  font-size: 600%;
}

.section-2 p {
  font-size: 150%;
}

.section-2 h1,
.section-3 h1 {
  padding-top: 5%;
  font-size: 400%;
}

.section-2 .container {
  margin-top: 5%;
  padding-bottom: 2%;
}

.section-3 button {
  margin-bottom: 15%;
}
  
footer p {
  font-size: 100%;
}
  
}