*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;    
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
}
body input:required:valid,
body textarea:required:valid {
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header
{
    background-color: #fff;
}

.logo 
{ 
    padding-top: 10px;
    padding-bottom: 13px;
    text-align: center;
}

.logo img 
{
    height: auto;
    width: 25%;    
    padding: 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 4px 20px #2e4da3;
    max-width: 80%;
    display: inline-block;
}

/*Carousel Style*/

.main_carousel .item1, .item2, .item3, .item4
{
    height: auto;    
    animation-delay: 0.5s;
    animation-duration: 4s;
}

.table_wrapper
{
    display: table;
}

.row_wrapper
{
    display: table-row;
}

.item1, .item2, .item3, .item4
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;  
}

.btn
{
    border: none;
    background-color: rgba(40, 162, 120, 0.7);
    color: #fff;
    padding: 8px 25px;
    border-radius: 3px;    
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 150px;
}

.btn:hover {
    background-color: #54c9a1;
}

.btn:active {
    background-color: #218966;
}


.item1 h2
{
    margin: 0;    
    color: #fff;
    background: rgba(0, 0, 0, .7);   
    padding-top: 1%;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.main_carousel p
{
    margin: 0;    
    color: #fff;
    background: rgba(0, 0, 0, .7);  
    padding: 1% 1%;
    font-size: 1.3em;
    letter-spacing: 0px;
}

.item3 span, .item4 span
{    
    display: inline-block;
    color: #fba020;
    font-size: 2.0em;
    position: relative;
    font-family: "RobotoRegular", sans-serif;
    background: #26b785;
    border-radius: 3px;
    box-shadow: 5px 5px 50px #fff;
    padding: 0px .35em;
    margin-top: .25em;
}

/*Carosel Controls Style*/

.owl_controls 
{        
    margin-bottom: 3.2em;
    padding: 0px 2px;
    animation-duration: 1.5s;
}

.owl_controls img 
{     
    padding-bottom: 3%;
    margin-top: 1em;
    -webkit-box-shadow: 0px 6px 0px 0px #28a278;
    -moz-box-shadow: 0px 6px 0px 0px #28a278;
    box-shadow: 0px 6px 0px 0px #28a278;
    
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    
}

.owl_controls img:hover, owl_controls img:focus 
{
    cursor: pointer;
    opacity: 0.8;
    
    -webkit-box-shadow: 0px 6px 0px 0px #54c9a1;
    -moz-box-shadow: 0px 6px 0px 0px #54c9a1;
    box-shadow: 0px 6px 0px 0px #54c9a1;
    
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
}

.owl_controls img:active 
{
    opacity: 0.95;
}

/*Products Section*/

.empty_space
{
    height: 2em;
}

.product_title
{
    text-align: center;
    background: #3f4d74;
}

.product_title h2
{
    color: #fff;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 2.2em;
    margin-top: 70px;
    margin-bottom: 70px;
}

.products_section {
    margin-top: -30px;
    background-color: #e5dfdf;
    position: relative;
    text-align: center;
}

.products_section h2{
    margin: 0px;
}

.products_section p {
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
}

.products_section .img-responsive {
    margin: 0 auto;
    margin-bottom: 40px;
}

.contacts_line {
    background-color: #3f4d74;
}

::-webkit-input-placeholder {color:#fff; text-transform: uppercase; letter-spacing: 2px;}
::-moz-placeholder          {color:#fff; text-transform: uppercase; letter-spacing: 2px;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff; text-transform: uppercase; letter-spacing: 2px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff; text-transform: uppercase; letter-spacing: 2px;}

.newsseller input
{
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
}

.up-btn { 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%; 
    background: rgba(61, 201, 179, 0.5); 
    color: #fff; 
    font-size: 18px; 
    line-height: 46px; 
    text-align: center; 
    position: fixed;
    bottom: 4em;
    right: 10px;
    z-index: 200;
    display: none;
}
.up-btn:hover, up-btn:focus { 
    color: #fff; 
    background: rgba(61, 201, 179, 1); 
}

.up-btn:active {
    background-color: #218966;
}

.contacts_text {
    color: #fff;
}

.contacts_text h1 {
    text-align: center;
    font-family: "RobotoRegular";
    font-size: 30px;
}

.contacts_text p {
    font-family: "RobotoLight";
    font-size: 20px;
    text-align: center;
}

.light-box {
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 0px 0px #28a278;
    -moz-box-shadow: 0px 6px 0px 0px #28a278;
    box-shadow: 0px 6px 0px 0px #28a278;
    padding: 20px 0;
    margin-top: 35px;
    border-radius: 3px;
}

.light-box:hover, light_box:focus {
    -webkit-box-shadow: 0px 6px 0px 0px #1bad96;
    -moz-box-shadow: 0px 6px 0px 0px #1bad96;
    box-shadow: 0px 6px 0px 0px #1bad96;
}

.address {
    margin-top: -10px;  
    margin-bottom: 30px;
    text-align: center;
}

.address h2 {
    font-size: 20px;
}

.address h2 span {
    display: block;
    color: #28a278;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 15px;
}

.address a {
    color: #333;
}

.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.box-hover:hover, .box-hover:focus {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
}

.feedback {
    text-align: center;
}

.feedback input {
    width: 40%;
    color: #333;
    font-family: "RobotoRegular";
    margin: 10px;
    text-align: center;
    border-radius: 3px;  
}

.feedback label {
    font-size: 22px; 
    box-sizing: border-box;
    padding: 0 7px;
    padding-bottom: 2px;
    border-radius: 3px;
    box-shadow: 5px 5px 25px #2e4da3;
    background-color: #28a278;
}

.feedback label[for="inputName"] {
    padding: 0 9px;
    padding-bottom: 2px;
}

.textarea {
    width: 50%;
    color: #333;
    font-family: "RobotoRegular";
    margin: 10px;
    border-radius: 5px;    
    resize: none;
}

.feedback button {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #28a278;
    top: 0;
}

.footer {
    background-color: #332f2f;
}

.footer p {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
}

.footer a {
    font-size: 22px; 
    box-sizing: border-box;
    padding: 0 7px;
    padding-bottom: 3px;
    border-radius: 4px;
    background-color: #28a278;
    color: #fff;
}

.footer a:hover {
    cursor: pointer;
    background-color: #54c9a1;
}

.footer a:active {
    background-color: #218966;
}

.subscribe
{
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
}

.subscribe h2
{
    margin-top: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subscribe i
{
    font-size: 2em;
}

.subscribe p
{
    margin-top: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subscribe form
{
    margin-top: 20px;
    margin-bottom: 60px;
}

.subscribe form input
{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #fff;
    padding: 5px;
    width: 30%;
    color: #fff;
    margin-right: 30px;
}

.subscribe form .btn
{
    top: 0px;
}

.hidden_obj {
    display: none;
}

.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
}

.pop_form .btn{
    top: 0px;
    margin: auto;
    padding: 3px 20px;
    display: block;
    border-radius: 0px;
}

.pop_form input {
    display: block;
    width: 90%;
    line-height: 24px;
    margin: 0 auto 12px;
    border-radius: 0px;
}

.pop_form textarea {
    width: 90%;
    border-radius: 0px;
    font-size: 14px;
}



/*Page loading*/

.loader
{
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner
{
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}