/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
     .feedback input {
        width: 50%;
    }    
    
    .textarea {
        width: 60%;
    }
    
    .footer p {
        margin-right: 10px;
    }  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {     
    
    .item1 h2
    {
        font-size: 0.9em;
    }
    
    .main_carousel p
    {
        font-size: 0.9em;
    }
    
    .item3 span, .item4 span
    {
        font-size: 1.2em;
    }
    
    .item1 button
    {
        top: 3px;
    }
    
    .subscribe form input
    {
        width: 50%;
        margin-right: 10px;
    }
    
    .feedback input {
        width: 60%;        
    }
    
    .feedback label {
        margin-right: 5px;
    }
    
    .textarea {
        width: 70%;        
    }
    
    .feedback button {
        margin-top: 2px;
    }
    
    .dev {
        text-align: center;
    }        
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .item1 h2
    {
        font-size: 0.8em;
        letter-spacing: 0px;
    }
    
    .main_carousel p
    {
        font-size: 0.8em;
    }
    
    .item1 button
    {
        padding: 5px 15px;
        font-size: 12px;
        top: 10px;
    }
    
    .subscribe form input
    {
        width: 90%;
        margin-bottom: 10px;
    }
    
    .feedback input {
        width: 90%;        
    }
    
    .feedback label {
        display: inline-block;
    }
    
    .textarea {
        width: 90%;
    }
    
    .feedback button {
        margin-top: 2px;
        font-size: 12px;
        padding: 5px 20px;
    }  
    
    .dev {
        text-align: center;
    }
    
    .dev p {
        margin-bottom: 2px;
    }           
    
    .pop_form {
        font-size: 13px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}