body { min-width: 320px;}

.hidden { display: none; }

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loader_inner {    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;    
    left: 45%;
    top: 45%;
    position: absolute;
}


/* Small screens (default) */
html { font-size: 100%; }

  /* Navigation */
  nav ul li {
    text-transform: uppercase;
  }

  /* First List */
  .title {
	z-index: 0;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  .title h1 {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 500;
  }

  .title p.subline {
	font-size: 110%;
  }

  /* Section */
.section-title {
  text-align: center;
}
  
  section h1 {
    font-size: 110%;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 2%;
    padding-top: 15%;
    color: #fff;    
  }
  
  section h3 {
    font-size: 100%;
    padding: 0 2%;
    color: #fff;
  }

  section .container {
    padding-bottom: 10%;
    color: #eceff1;    
  }

  .section-1 .container table tbody tr:hover{
    background-color: #455a64;
    cursor: default;
  }
  
 .section-2 .container table tbody tr:hover{
    cursor: default;
  }

.section-1 {
  background-image: url(..//img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 {
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  .section-2 .container {
    color: #37474f;    
  }

.wrapper {background-color: #b0bec5;}

footer p {
  padding: 2% 0;
  padding-left: 1%;
  color: #eceff1 ;
  background-color: #607d8b;
  font-size: 0.7em;
  letter-spacing: 1px;
}

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
  
  /* Navigation */
  nav .brand-logo {
    margin-left: 2%;
  }
  
  /* First List */
  .title {
	top: 50%;
  }
  
  /* Section */
  section h1 {
    font-size: 150%;
    padding-top: 8%;
  }
  
  section h3 {
    font-size: 120%;
    padding-bottom: 2%;      
  }

  section .container {
    padding-bottom: 6%;
  }    
  
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
  
  /* Navigation */
  nav .brand-logo {
    margin-left: 2%;
  }
  
  /* First List */
  .title {
	top: 50%;
  }
  
  .title h1 {
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 500;
  }

  .title p.subline {
	font-size: 150%;
  }
  
  /* Section */
  section h1 {
    font-size: 150%;
    padding-top: 8%;
  }
  
  section h3 {
    font-size: 120%;
    padding-bottom: 2%;      
  }

  section .container {
    padding-bottom: 6%;
  }
  
}


html, body, .container-eff, .header {
	height: 100%;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 400;
	margin: 0 auto;
}

/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 0;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;
}

.container-eff:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container-eff.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;	
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* -------------------------- */
/* Faded gradient */
/* -------------------------- */

.intro-effect-fadeout:not(.notrans) .bg-img {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-fadeout:not(.notrans) .bg-img::after {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-fadeout:not(.notrans) .header h1 {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-fadeout:not(.notrans) .bg-img,
.intro-effect-fadeout:not(.notrans) .bg-img::after,
.intro-effect-fadeout:not(.notrans) .header h1,
.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-fadeout .header {
	overflow: hidden;
}

.intro-effect-fadeout.modify .bg-img {
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
}

.intro-effect-fadeout .bg-img::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 101%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.intro-effect-fadeout.modify .bg-img::after {
	opacity: 1;
}

.intro-effect-fadeout .title {
	text-align: center;
	max-width: 900px;
}

.intro-effect-fadeout.modify .header h1,
.intro-effect-fadeout .header p {
	color: #514753;
}

.intro-effect-fadeout .header p {
	opacity: 0;
}

.intro-effect-fadeout .header p:nth-child(2) {
	-webkit-transform: translateX(150px);
	transform: translateX(150px);
}

.intro-effect-fadeout .header p:nth-child(3) {
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
}

.intro-effect-fadeout.modify .header p:nth-child(2),
.intro-effect-fadeout.modify .header p:nth-child(3) {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.intro-effect-fadeout .content {
	z-index: 1000;
	position: relative;
}

.intro-effect-fadeout .content > div {
	opacity: 0;
	-webkit-transform: translateY(350px);
	transform: translateY(350px);
}

.intro-effect-fadeout.modify .content > div {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
